<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Sadece Android 12L (API 32) ve altı için READ_EXTERNAL_STORAGE izni -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" /> <!-- tools:ignore burada kalabilir veya kaldırılabilir -->

    <!-- Android 13 (API 33) ve üzeri için resimlere erişim izni -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!--
        Android 14 (API 34) ve üzeri için Seçili Fotoğraflara Erişim izni.
        Bu izin, READ_MEDIA_IMAGES (veya READ_MEDIA_VIDEO) ile birlikte istenir.
        Eğer uygulamanız targetSdkVersion 34+ ise ve kendi galeri seçicinizi
        kullanıyorsanız bu izin önemlidir. Android'in Photo Picker'ını
        kullanıyorsanız bu izne genellikle gerek yoktur.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <!-- Eğer video erişimi de gerekiyorsa: -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtBookJava">
        <activity
            android:name=".ArtActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
